:root {
    --cols-number: 3;
    --shoes-number: 4;
}

@media only screen and (max-aspect-ratio: 1/1) {
    #columns > ul {
        --cols-number: 1;
    }
    #shoes > ul {
        --shoes-number: 2;
    }
    .shoe-sizes {
        display: none;
    }
}

body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

header > h1 {
    font-family: Montserrat, sans-serif;
}

header > h2 {
    color: #C45D5F;
    font-size: 0.8em;
}

#columns > ul {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1em;
    list-style: none;
    align-items: center;
    
    /* Browser override */
    padding-inline-start: 0;
}


#columns > ul > li {
    flex-basis: calc(100% / var(--cols-number) - 1em);
}

#columns > ul > li div {
    text-align: center;
    background-color: #F0F7FF;
    font-family: Montserrat, sans-serif;
}

#columns > ul > li img {
    width: 100%;
    opacity: 0.8;
    transition: all 0.3s;
}

#columns > ul > li img:hover {
    opacity: 1;
    border-radius: 30px;
    transition: all 0.3s;
}

#go-back {
    text-align: center;
    text-decoration: none;
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    background-color: #F0F7FF;
    font-size: 1.5em;
}

#shoes > ul {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    list-style: none;
    align-items: center;

    /* Browser override */
    padding-inline-start: 0;
}

#shoes > ul > li {
    flex-basis: calc(100% / var(--shoes-number) - 1em);
    border: 1px solid black;
    /* Simulates border-collapse property (can't use that on lis) */
    margin-left: -1px;
    margin-top: -1px;
}

#shoes > ul > li img {
    width: 100%;
}

.shoe-name {
    text-align: center;
    font-size: 2em;
    margin: 0.5em;
    background-color: blue;
    color: white;
}

.shoe-sizes table {
    border-collapse: collapse;
    width: 80%;
    margin: 1em auto;
}

.shoe-sizes td, .shoe-sizes th {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
}

.shoe-price {
    text-align: center;
    font-size: 2em;
    color: red;
}