:root {
    --cols-number: 3;
}

@media only screen and (max-aspect-ratio: 1/1) {
    #columns > ul {
        --cols-number: 1;
    }
}

body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

header > h1 {
    font-family: Montserrat, sans-serif;
}

header > h2 {
    color: #C45D5F;
    font-size: 0.8em;
}

#columns > ul {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 1em;
    list-style: none;
    align-items: center;
    
    /* Browser override */
    padding-inline-start: 0;
}


#columns > ul > li {
    flex-basis: calc(100% / var(--cols-number) - 1em);
}

#columns > ul > li > div {
    text-align: center;
    background-color: #F0F7FF;
    font-family: Montserrat, sans-serif;
}

#columns > ul > li > img {
    width: 100%;
    opacity: 0.8;
    transition: all 0.3s;
}

#columns > ul > li > img:hover {
    opacity: 1;
    border-radius: 30px;
    transition: all 0.3s;
}